<div class="testimonials" id="testimonials">
  <div class="container">
    <h3>What Black Women Say</h3>
    <div class="testimonial-slider">
      <div class="testimonial">
        <p>"Its Juicee products made me feel confident and radiant from within!"</p>
        <h4>- Queen A.</h4>
      </div>
      <div class="testimonial">
        <p>"Natural, effective, and perfectly designed for us."</p>
        <h4>- Selam.</h4>
      </div>
    </div>
  </div>
</div>
