<div class="about" id="about">
  <div class="container">
    <h3>Celebrating Black Women's Wellness</h3>
    <p>Our mission is to provide natural, nurturing products that honor your body and spirit. From detox teas to yoni oils, we are here to elevate your self-care routine.</p>
  </div>
</div>
